<!--herrencia de una plantilla jinja2 % instrucion %-->
{% extends './layout.html' %}

<!--Titulo de la pestaña-->
{% block title %}{{nom.Titulo}}{% endblock %}

{% block titulo %} Juegos {% endblock %}
{% block body %}

<h1><b>{{nom.Titulo}}</b></h1>
<br><br>
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h2>Tabla de productos disponibles</h2>
            <!-- Tabla -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Nombre de productos disponibles</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Comprar cantidad</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Intruccion para hacer el READ-->
                    {% for producto in data %}
                        <tr>
                            <!--listar por super_id y nombre--> 
                            <td>{{ producto.nombre_producto }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>1 = {{ producto[1]}}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br>

<h2>segunda parte</h2>

<form method="POST" action="">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" required>
    <input type="submit" value="Actualizar">
</form>

<strong>Producto</strong>
<br>
<strong>Cantidad</strong>
<br>

{% endblock %}