<!--herrencia de una plantilla jinja2 % instrucion index %-->
{% extends './layout.html' %}
<!--variable situado en el return-->
{% block title %}{{ nom.Titulo}}{% endblock %}

{% block body %}
<h1><!--jinja2 {{ variable }}-->
    {{nom.super}}
</h1>
<!--Generar lista de botones-->
{% for lista in nom.Menu %}
    <button>{{ lista }}</button>
{% endfor %}
<br><br>

<!--Generar lista de nombre de tabla-->
<table class="table table-bordered">
    
    {% for lista in nom.Menu %}
    <th>{{ lista }}</th>
    {% endfor %}
</table>

<br>

<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h2>Tabla de {{nom.super}} disponibles</h2>
            <!-- Tabla -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de {{nom.super}} disponibles</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Intruccion para hacer el READ-->
                    {% for lista_supers in supers %}
                        <tr>
                            <!--listar por super_id y nombre con el orden de consulta-->
                            <td>{{lista_supers[0]}}</td>
                            <td>{{lista_supers[1]}}</td>        
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!--Mostrar mensaje de error con jinja2-->
            {% if mensaje %}
                <div class="p-3 mb-2 bg-danger text-white">{{ mensaje }}</div>
            {% endif %}    

        </div>
    </div>
</div>

<br><br>

{% endblock %}
